files:
  "/home/ec2-user/setup-systemd.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #! /usr/bin/env sh
        set -ev

        beatname=$1

        rm -rf /etc/systemd/system/${beatname}.service.d/override.conf
        rm -rf /etc/${beatname}/envvars

        mkdir -p /etc/${beatname}
        cat /opt/elasticbeanstalk/deployment/env.list >> /etc/${beatname}/envvars
        mkdir -p /etc/systemd/system/${beatname}.service.d
        touch /etc/systemd/system/${beatname}.service.d/override.conf
        echo "[Service]" >> /etc/systemd/system/${beatname}.service.d/override.conf
        echo "EnvironmentFile=/etc/${beatname}/envvars" >> /etc/systemd/system/${beatname}.service.d/override.conf
        systemctl daemon-reload

container_commands:
  1_permissions_for_setup_systemd_sh:
    command: chmod +x /home/ec2-user/setup-systemd.sh
  2_setup_filebeat:
    command: "./home/ec2-user/setup-systemd.sh filebeat"
  3_setup_metricbeat:
    command: "./home/ec2-user/setup-systemd.sh metricbeat"
  4_setup_auditbeat:
    command: "./home/ec2-user/setup-systemd.sh auditbeat"