files:
  "/etc/auditbeat/auditbeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
        output.elasticsearch:
            hosts: ["${ELK_HOSTNAME}:9200"]
            username: "${ELK_USERNAME}"
            password: "${ELK_PASSWORD}"
        setup.kibana:
            host: "${ELK_HOSTNAME}:5601"
            username: "${ELK_USERNAME}"
            password: "${ELK_PASSWORD}"
        auditbeat.modules:
        - module: file_integrity
          paths:
          - /bin
          - /usr/bin
          - /sbin
          - /usr/sbin
          - /etc  
        - module: auditd
          audit_rules: |
            -a exit,always -F arch=b64 -S clock_settime -k changetime
            -w /etc/passwd -p wra -k passwd
        fields:
            environment: ${ENVIRONMENT_TYPE}
            application: ${APPLICATION_NAME}

commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/auditbeat/auditbeat-oss-6.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -e -ivh --replacepkgs --replacefiles auditbeat-oss-6.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: "mv /etc/auditbeat/audit.rules.d/sample-rules.conf.disabled /etc/auditbeat/audit.rules.d/sample-rules.conf"
  3_command:
    command: "/etc/init.d/auditbeat start"
    env:
      ELK_HOSTNAME:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: ELK_HOSTNAME
      ELK_USERNAME:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: ELK_USERNAME
      ELK_PASSWORD:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: ELK_PASSWORD
      APPLICATION_NAME:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: APPLICATION_NAME
      ENVIRONMENT_TYPE:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: ENVIRONMENT_TYPE