files:
  "/etc/auditbeat/auditbeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
        output.elasticsearch:
            hosts: ["REPLACE_ME_WITH_HOST:9200"]
            username: "REPLACE_ME_WITH_USERNAME"
            password: "REPLACE_ME_WITH_PASSWORD"
        setup.kibana:
            host: "REPLACE_ME_WITH_HOST:5601"
            username: "REPLACE_ME_WITH_USERNAME"
            password: "REPLACE_ME_WITH_PASSWORD"
        auditbeat.modules:
        - module: file_integrity
          paths:
          - /bin
          - /usr/bin
          - /sbin
          - /usr/sbin
          - /etc  
        - module: auditd
          audit_rules: |
            -a exit,always -F arch=b64 -S clock_settime -k changetime
            -w /etc/passwd -p wra -k passwd
        fields:
            environment: REPLACE_ME_WITH_ENV_NAME
            application: REPLACE_ME_WITH_APP_NAME

commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/auditbeat/auditbeat-oss-6.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -e -ivh --replacepkgs --replacefiles auditbeat-oss-6.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: "mv /etc/auditbeat/audit.rules.d/sample-rules.conf.disabled /etc/auditbeat/audit.rules.d/sample-rules.conf"
  3_command:
    command: "/etc/init.d/auditbeat start"