files:
  "/etc/filebeat/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      output.elasticsearch:
        hosts: ["$(/opt/elasticbeanstalk/bin/get-config environment -k ELK_HOSTNAME):9200"]
        username: "$(/opt/elasticbeanstalk/bin/get-config environment -k ELK_USERNAME)"
        password: "$(/opt/elasticbeanstalk/bin/get-config environment -k ELK_PASSWORD)"
      filebeat.config.modules:
        path: ${path.config}/modules.d/*.yml
        reload.enabled: true
        reload.period: 10s
      fields:
          environment: $(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT_TYPE)
          application: $(/opt/elasticbeanstalk/bin/get-config environment -k APPLICATION_NAME)
      fields_under_root: true
      filebeat.prospectors:
        - type: log
          paths:
            - /var/log/eb-commandprocessor.log
          fields:
            environment: $(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT_TYPE)
            application: $(/opt/elasticbeanstalk/bin/get-config environment -k APPLICATION_NAME)
            document_type: eb-commands
          fields_under_root: true
          ignore_older: 3h
        - type: log
          paths:
            - /var/log/eb-version-deployment.log
          fields:
            environment: $(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT_TYPE)
            application: $(/opt/elasticbeanstalk/bin/get-config environment -k APPLICATION_NAME)
            document_type: eb-version-deployment
          fields_under_root: true
          ignore_older: 3h
        - type: log
          paths:
            - /var/log/eb-activity.log
          fields:
            environment: $(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT_TYPE)
            application: $(/opt/elasticbeanstalk/bin/get-config environment -k APPLICATION_NAME)
            document_type: eb-activity
          fields_under_root: true
          ignore_older: 3h
        - type: log
          paths:
            - /var/log/eb-docker/containers/eb-current-app/eb-*-stdouterr.log
          fields:
            environment: $(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT_TYPE)
            application: $(/opt/elasticbeanstalk/bin/get-config environment -k APPLICATION_NAME)
            document_type: eb-current-app-stdouterr
          multiline.pattern: "^[[:space:]]+(at|\\.{3})\\b|^Caused by:"
          multiline.negate: false
          multiline.match: after
          fields_under_root: true
          ignore_older: 3h
        - type: log
          paths:
            - /var/log/docker-events.log
          fields:
            environment: $(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT_TYPE)
            application: $(/opt/elasticbeanstalk/bin/get-config environment -k APPLICATION_NAME)
            document_type: docker-events
          fields_under_root: true
          ignore_older: 3h
        - type: log
          paths:
            - /var/log/docker.log
          fields:
            environment: $(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT_TYPE)
            application: $(/opt/elasticbeanstalk/bin/get-config environment -k APPLICATION_NAME)
            document_type: docker
          fields_under_root: true
          ignore_older: 3h
        - type: log
          paths:
            - /var/log/docker-ps.log
          fields:
            environment: $(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT_TYPE)
            application: $(/opt/elasticbeanstalk/bin/get-config environment -k APPLICATION_NAME)
            document_type: docker-ps
          fields_under_root: true
          ignore_older: 3h
    
commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-oss-6.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -e -ivh --replacepkgs --replacefiles filebeat-oss-6.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: "mv /etc/filebeat/modules.d/nginx.yml.disabled /etc/filebeat/modules.d/nginx.yml"
  4_command:
    command: "mv /etc/filebeat/modules.d/system.yml.disabled /etc/filebeat/modules.d/system.yml"
  5_command:
    command: "/etc/init.d/filebeat start"