files:
  "/etc/metricbeat/metricbeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      metricbeat.config.modules:
          path: /etc/metricbeat/modules.d/*.yml
      metricbeat.max_start_delay: 10s
      metricbeat.modules:
      - module: system
        metricsets:
          - cpu             # CPU usage
          - filesystem      # File system usage for each mountpoint
          - fsstat          # File system summary metrics
          - load            # CPU load averages
          - memory          # Memory usage
          - network         # Network IO
          - uptime          # System Uptime
        enabled: true
        period: 10s
        processes: ['.*']
        cpu.metrics:  ["percentages"]  # The other available options are normalized_percentages and ticks.
        core.metrics: ["percentages"]  # The other available option is ticks.
      - module: nginx
        metricsets:
          - stubstatus
        period: 10s
        enabled: true
        hosts: ["http://127.0.0.1"]
        server_status_path: "server-status"
      - module: docker
        metricsets:
          - "container"
          - "cpu"
          - "diskio"
          - "event"
          - "healthcheck"
          - "info"
          - "image"
          - "memory"
          - "network"
        hosts: ["unix:///var/run/docker.sock"]
        period: 10s
        enabled: true
      fields:
          environment: ${ENVIRONMENT_TYPE}
          application: ${APPLICATION_NAME}
      fields_under_root: true
      output.elasticsearch:
        hosts: ["${ELK_HOSTNAME}:9200"]
        protocol: http
        username: "${ELK_USERNAME}"
        password: "${ELK_PASSWORD}"

      setup.kibana:
        host: "${ELK_HOSTNAME}:5601"

commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/metricbeat/metricbeat-oss-6.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -ivh --replacepkgs --force metricbeat-oss-6.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: "mv /etc/metricbeat/metricbeat.reference.yml /etc/metricbeat/metricbeat.reference.yml.disabled"
  4_command:
    command: "/etc/init.d/metricbeat start --E 'output.elasticsearch.hosts=[\"${ELK_HOSTNAME}:9200\"]' --E 'setup.kibana.host: \"${ELK_HOSTNAME}:5601\"'" 
